body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(104, 103, 103, 0.8), rgba(39, 39, 39, 0.8), rgba(104, 103, 103, 0.8), rgba(255, 255, 255, 0.8));
  background-size: 200% 100%;
  animation: colorChange 10s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes colorChange {
  0% {
    background-position: 100% 0;
  }
  
  100% {
    background-position: -100% 0;
  }
}

.create-tree-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for transparency */
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.input-fields {
  display: grid;
  gap: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field:hover input {
  border: 1px solid #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 14px;
}

button {
  padding: 10px;
  background-color: rgba(76, 175, 80, 0.7);
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
  margin-left: 275px;
  margin-top: 50px;
}

button:hover {
  background-color: #4caf50;
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 12px;
}
